html, body {
  width:100%;
  height:100%;
}

#view-container {
  background-color: rgb(190, 190, 190);
}

.todo-instance {
  width:200px;
  height:200px;
  background-color: red;
}

.project-container {
  width:200px;
  height:200px;
  background-color: green;
}